*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Navbar{
  height: 60px;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}
.Navbar h3{
  font-size: larger;
  font-weight: 200;
  font-family: cursive;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}
.nav-link a{
  text-decoration: none;
  color: inherit;
  border: 0.5px solid rgb(194, 192, 192);
  padding:10px 20px;
  border-radius: 25px;
}
.Navbar button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
}
.home{
  width: 94vw;
  height: 90vh;
  color: rgb(241, 241, 241);
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  gap: 1rem;
  padding-top: 25vh;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 15px;
  background-image: url("https://plus.unsplash.com/premium_photo-1707423386897-fd2276aa2a8c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}
.home h1{
  font-size: 4.5rem;
  font-weight: 200;
}
.home p{
  font-size: x-large;
  padding-top: 1.5vh;
}
.home button{
  margin-top: 1.5vh;
  background: #000;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
}

.middle{
  height:100vh;
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;;
}
.mid-header{
  display: flex;
  margin-top: 5%;
}
.mid-headerdiv1{
  padding-top: 5%;
  width: 35vw;
}
.mid-headerdiv2{
  width: 59vw;
}
.mid-header a{
  text-decoration: none;
  color: inherit;
  border: 0.5px solid rgb(194, 192, 192);
  padding:10px 20px;
  border-radius: 25px;
}
.mid-header p{
  font-weight: 200;
  font-size: 2.5rem;
}
.Cards{
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-: 1; */
  /* gap: 8%; */
}
.card1{
  width: 25vw;
  color: gray;
  height: 50vh;
  background-color: rgb(1, 1, 22);
  border-radius: 25px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card1 h1{
  font-size: 140%;
}
.card1 button{
  padding: 5% 10%;
  background-color: rgb(0, 153, 255);
  border-radius: 25px;
}
.card1 span{
  color: white;
}
.buth2{
  /* height: 30%; */
  display: flex;
  align-items: end;
  gap: 5%;
}
.card2{
  width: 25vw;
  height: 50vh;
  background-image: url("https://thumbs.dreamstime.com/b/male-teacher-trainer-white-clothes-holding-yellow-blue-yoga-mat-his-hands-preparing-fitness-class-concept-138490574.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card2 h2{
  background-color: rgb(255, 254, 254);
  padding: 10px 20px;
  border-radius: 25px;
  opacity: 0.5;
}
.card3{
  width: 25vw;
  height: 50vh;
  background-color: rgb(249, 247, 247);
  border-radius: 25px;
}
.card31{
  padding: 5%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.card31 p{
  color: gray;
}
.midfooter1{
  margin-top: 2%;
  text-align: center;
}
.midfooter2{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.midfooter2 div{
  text-align: center;
}
.midfooter2 div p{
  color: gray;
}