*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
}

.box{
    width: 200px;
    height: 200px;
    color: white;
    border-radius: 10px;
}
.box:hover{
    anchor-name: --some-anchor;

}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.anchor{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}