*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
body{
    background-image: url("https://images.pexels.com/photos/20368160/pexels-photo-20368160.jpeg");
    background-size: cover;

}
:root{
    --x:400px;
    --y:400px;
}
.box{
    z-index: 2;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background: radial-gradient(150px at var(--x) var(--y),rgba(250, 248, 248, 0) 0%,rgba(3, 3, 3, 0.947) 80%);
}