* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body .sec1 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2cb2934d35c4b4c5b51da_studio-hero-p-1600.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
}
body .sec2 {
  background-color: #222222;
  color: white;
  margin: 1rem;
  font-weight: 100;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
}
body .sec2 h2 {
  font-size: 2.5rem;
  font-weight: 100;
  padding-top: 3rem;
}
body .sec2 p {
  font-size: 1.3rem;
  font-weight: 100;
  padding-top: 1rem;
  line-height: 2rem;
  color: gray;
}
body .sec2 button {
  width: 2rem;
  aspect-ratio: 2/2;
  align-items: center;
  border-radius: 50%;
  color: gray;
  border: 0.1rem solid gray;
  background: transparent;
  margin-top: 2rem;
  display: inline;
}
body .sec2 #button1div {
  display: flex;
  align-items: center;
}
body .sec2 #our {
  color: white;
  margin: 0.5rem;
  padding-top: 1.8rem;
}
body #clients #div1, body #clients #div2 {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}
body #clients #div1 p, body #clients #div2 p {
  font-size: 0.8rem;
  margin: 1rem;
  margin-left: 0;
  color: gray;
}
body #image2 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d42ed21efba1c98e866246_studio-philosophy-p-1600.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
}
body .card2 {
  background-color: #222222;
  color: white;
  margin: 1rem;
  font-weight: 100;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
}
body .card2 h2 {
  font-size: 2rem;
  font-weight: 100;
  padding-top: 3rem;
}
body .card2 p {
  font-size: 1rem;
  font-weight: 100;
  padding-top: 1rem;
  line-height: 1.5rem;
  color: gray;
}
body #image3 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdadb9a66a436b50ff_sutdio-values-p-1600.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
}
body #card3 {
  background-color: #222222;
  color: white;
  margin: 1rem;
  font-weight: 100;
  font-size: 1rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
}
body #card3 h2 {
  font-size: 2rem;
  font-weight: 100;
  padding-top: 3rem;
}
body #card3 p {
  font-size: 1rem;
  font-weight: 100;
  padding-top: 1rem;
  line-height: 1.5rem;
  color: gray;
}
body #ourteam {
  width: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
body #ourteam h2 {
  font-weight: 100;
}
body #ourteam div {
  padding-right: 1rem;
  display: flex;
}
body #ourteam div button {
  width: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background: transparent;
  color: gray;
  border: 0.1rem solid gray;
}
body #cardd1 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body #cardd1 #div1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  gap: 1rem;
}
body #cardd1 #div2 {
  padding: 1.5rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  opacity: 0.8;
}
body #cardd1 #div2 h3, body #cardd1 #div2 h2 {
  font-weight: 400;
}
body #cardd2 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-500.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body #cardd2 #div1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  gap: 1rem;
}
body #cardd2 #div2 {
  padding: 1.5rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  opacity: 0.8;
}
body #cardd2 #div2 h3, body #cardd2 #div2 h2 {
  font-weight: 400;
}
body #cardd3 {
  aspect-ratio: 1/1;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body #cardd3 #div1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  gap: 1rem;
}
body #cardd3 #div2 {
  padding: 1.5rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  opacity: 0.8;
}
body #cardd3 #div2 h3, body #cardd3 #div2 h2 {
  font-weight: 400;
}
body #image4 {
  aspect-ratio: 3/2;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd34d35c31355b73d1_studio-team-p-1600.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  margin: 1rem;
}
body #button2div {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
body #button2div button {
  border-radius: 50%;
  width: 2rem;
  color: gray;
  background: transparent;
  border: 0.1rem solid gray;
}
body #contact {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: #cebd63;
  color: black;
}
body #contact p {
  font-size: 1.3rem;
}
body #contact h1 {
  font-weight: 100;
  font-size: 2.5rem;
}
body #contact div {
  display: flex;
  justify-content: center;
}
body #contact button {
  margin: 1rem;
  padding: 1rem 6rem;
  border-radius: 0.7rem;
  color: white;
  background-color: black;
}
body #elvy {
  margin: 1rem;
  background-color: #222222;
  padding: 2rem;
  border-radius: 0.7rem;
}
body #elvy h4 {
  margin-bottom: 5rem;
}
body #pages {
  background-color: #222222;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.7rem;
}
body #pages #page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body #pages #page button {
  padding: 1rem;
  width: 50%;
  background-color: #cebd63;
  border-radius: 0.7rem;
}
body #pages h3 {
  font-weight: 100;
}
body #pages p {
  color: gray;
}
body #pages #cms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}
body #pages #utility {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

@media screen and (min-width: 900px) {
  #page1 {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
  }
  #page1 .sec1 {
    width: 50%;
  }
  #page1 .sec2 {
    width: 50%;
    padding: 5rem;
  }
  #page1 .sec2 #inner {
    margin-top: 25rem;
  }
  #page1 .sec2 #inner h2 {
    font-size: 4rem;
  }
  #clients {
    display: flex;
    justify-content: space-evenly;
  }
  #clients #div1, #clients #div2 {
    width: 30%;
  }
  #page2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1rem;
  }
  #page2 #image2 {
    width: 50%;
  }
  #page2 .card2 {
    width: 50%;
    padding: 5rem;
  }
  #page2 .card2 #inner {
    margin-top: 25rem;
  }
  #page2 .card2 #inner h2 {
    font-size: 4rem;
  }
  #page3 {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
  }
  #page3 #image3 {
    width: 143%;
    background-position: center;
    background-size: cover;
  }
  #page3 .card3 {
    width: 40%;
    padding: 5rem;
  }
  #page3 .card3 #inner {
    margin-top: 25rem;
  }
  #page3 .card3 #inner h2 {
    font-size: 4rem;
  }
  #cards {
    padding-left: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
  }
  #cards #cardd1 {
    width: 31%;
  }
  #cards #cardd2 {
    width: 31%;
  }
  #cards #cardd3 {
    width: 31%;
  }
  #page4 {
    display: flex;
  }
  #page4 #image4 {
    width: 50%;
    height: 32rem;
  }
  #page4 .card2 {
    width: 50%;
    height: 32rem;
    padding: 4rem;
  }
  #page4 .card2 #inner {
    margin-top: 3rem;
  }
  #page4 .card2 #inner h2 {
    font-size: 3.6rem;
  }
  #contact {
    display: flex;
    justify-content: space-between;
  }
  #contact #div1 {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  #contact #div1 h1 {
    font-size: 4rem;
  }
  #contact #div2 {
    padding: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #contact #div2 button {
    width: 30%;
    height: 4rem;
    width: 20rem;
    padding: none;
  }
  #footer {
    display: flex;
  }
  #footer #elvy {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #footer #pages {
    width: 68%;
    display: flex;
    flex-grow: 1;
  }
  #footer #pages #page {
    width: 30%;
  }
  #footer #pages #cms {
    margin-top: 0%;
    width: 30%;
  }
  #footer #pages #utility {
    margin-top: 0%;
  }
}
@media screen and (max-width: 899px) {
  #ourteam {
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  #ourteam h2 {
    font-weight: 100;
  }
  #ourteam div {
    display: none;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */