*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color:white;

    .sec1{
        aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2cb2934d35c4b4c5b51da_studio-hero-p-1600.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
        
    }
    .sec2{
        background-color: #222222;
        color: white;
        margin: 1rem;
        font-weight: 100;
        font-size: 1rem;
        padding: 1.5rem;
        border-radius: 0.7rem;

        h2{
            font-size:2.5rem;
            font-weight: 100;
            padding-top: 3rem;
        }
        p{
            font-size: 1.3rem;
            font-weight: 100;
            padding-top: 1rem;
            line-height: 2rem;
            color: gray;
        }
        button{
            width: 2rem;
            aspect-ratio: 2/2;
            align-items: center;
            border-radius: 50%;
            color: gray;
            border: 0.1rem solid gray;
            background: transparent;
            margin-top: 2rem;
            display: inline;
        }
        #button1div{
            display: flex;
            align-items: center;
        }
        #our{
            color: white;
            margin: .5rem;
            padding-top: 1.8rem;        
        }
    }

    #clients{
        #div1,#div2{
            display: flex;
            justify-content: space-between;
            margin: 3rem;
            p{
                font-size: .8rem;
                margin: 1rem;
                margin-left: 0;
                color: gray;
            }
        }
       
    }
    #image2{
        aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d42ed21efba1c98e866246_studio-philosophy-p-1600.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
    }
    .card2{
        background-color: #222222;
        color: white;
        margin: 1rem;
        font-weight: 100;
        font-size: 1rem;
        padding: 1.5rem;
        border-radius: 0.7rem;

        h2{
            font-size:2rem;
            font-weight: 100;
            padding-top: 3rem;
        }
        p{
            font-size: 1rem;
            font-weight: 100;
            padding-top: 1rem;
            line-height: 1.5rem;
            color: gray;
        }
    }
    #image3{
      aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdadb9a66a436b50ff_sutdio-values-p-1600.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
    }
    #card3{
        background-color: #222222;
        color: white;
        margin: 1rem;
        font-weight: 100;
        font-size: 1rem;
        padding: 1.5rem;
        border-radius: 0.7rem;

        h2{
            font-size:2rem;
            font-weight: 100;
            padding-top: 3rem;
        }
        p{
            font-size: 1rem;
            font-weight: 100;
            padding-top: 1rem;
            line-height: 1.5rem;
            color: gray;
        }
    }
    #ourteam{
        width: auto;
        padding: 2rem;
        display: flex;
        justify-content:space-between;
        h2{
            font-weight: 100;
        }
        div{
            padding-right: 1rem;
              display: flex;
            button{
                width: 2rem;
                margin-right: 0.5rem;
                border-radius: 50%;
                background: transparent;
                color: gray;
                border: .1rem solid gray;
            }
        }
    }

    #cardd1{
        aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
       #div1{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        gap: 1rem;
       }
       #div2{
        padding: 1.5rem;
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        opacity: 0.8;
        h3,h2{
            font-weight: 400;
        }
       }
    }
    #cardd2{
        aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02-p-500.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
       #div1{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        gap: 1rem;
       }
       #div2{
        padding: 1.5rem;
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        opacity: 0.8;
        h3,h2{
            font-weight: 400;
        }
       }
    
    }
    #cardd3{
        aspect-ratio: 1/1;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
       #div1{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        gap: 1rem;
       }
       #div2{
        padding: 1.5rem;
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        opacity: 0.8;
        h3,h2{
            font-weight: 400;
        }
       }
    }
    #image4{
         aspect-ratio: 3/2;
        background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd34d35c31355b73d1_studio-team-p-1600.webp");
        background-size: cover;
        background-position: center;
        border-radius: 0.7rem;
        margin: 1rem;
    }
    
    #button2div{
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        button{
            border-radius: 50%;
            width: 2rem;
            color: gray;
            background: transparent;
            border: 0.1rem solid gray;
        }
    }

    #contact{
        margin: 1rem;
        padding: 1rem;
        border-radius: 0.7rem;
        background-color: #cebd63;
        color: black;
        p{
            font-size: 1.3rem;
        }
        h1{
            font-weight: 100;
            font-size: 2.5rem;
        }
        div{
            display: flex;
            justify-content: center;
        }
        button{
            margin: 1rem;
            padding: 1rem 6rem;
            border-radius: 0.7rem;
            color: white;
            background-color: black;
        }
    }
    #elvy{
        margin: 1rem;
        background-color: #222222;
        padding: 2rem;
        border-radius: 0.7rem;
        h4{
            margin-bottom: 5rem;
        }
        
    }
    #pages{
        background-color: #222222;
        padding: 2rem;
        margin: 1rem;
        border-radius: 0.7rem;
        #page{
           display: flex;
           flex-direction: column;
           gap: 1rem;
          
            button{
              padding: 1rem;
              width: 50%;
              background-color: #cebd63;
              border-radius:0.7rem ;
            }
        }
         h3{
            font-weight: 100;
           }
           p{
            color: gray;
           }
        #cms{
             display: flex;
           flex-direction: column;
           gap: 1rem;
           margin-top: 3rem;
        }
        
        #utility{
             display: flex;
           flex-direction: column;
           gap: 1rem;
           margin-top: 3rem;
        }
    }
    
}
@media screen and (min-width:900px) {
    #page1{
        display: flex;
        flex-direction: row;
        gap: 0.1rem;


        .sec1{
            width: 50%;
        }
        .sec2{
            width: 50%;
            padding: 5rem;
            #inner{
                margin-top:25rem;
                h2{
                    font-size: 4rem;
                }
            }
        }
    }
    #clients{
        display: flex;
        justify-content: space-evenly;
        #div1,#div2{
            width: 30%;
        }
    }
    #page2{
        display: flex;
        flex-direction: row-reverse;
        gap: 0.1rem;
        #image2{
            width: 50%;
        }
        .card2{
            width: 50%;
            padding: 5rem;
            #inner{
                margin-top:25rem;
                h2{
                    font-size: 4rem;
                }
            }
        }
    }
    #page3{
        display: flex;
        flex-direction: row;
        gap: 0.1rem;
        #image3{
            width:143%;
            background-position: center;
            background-size: cover;
        }
        .card3{
            width: 40%;
            padding: 5rem;
            #inner{
                margin-top:25rem;
                h2{
                    font-size: 4rem;
                }
            }
        }
    }
    #cards{
        padding-left: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        #cardd1{
            width: 31%;
        }
        #cardd2{
            width: 31%;
        }
        #cardd3{
            width: 31%;
        }
        gap: 0.1rem;
        // grid-template-columns: 1fr 1fr 1fr;
        // gap: 1rem;
    }
    #page4{
        display: flex;
        #image4{
            width: 50%;
            height: 32rem;
        }
        .card2{
            width: 50%;
            height: 32rem;
            padding: 4rem;
            #inner{
                margin-top:3rem;
                h2{
                    font-size: 3.6rem;
                }
            }
        }
        
    }
    #contact{
        display: flex;
        justify-content: space-between;
        #div1{
            width: 60%;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 4rem;
            }
        }
        #div2{
            padding: 5rem;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            button{
                width: 30%;
                height: 4rem;
                width: 20rem;
                padding: none;
            }
        }
    }
    #footer{
        display: flex;
        #elvy{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        #pages{
            width: 68%;
            display: flex;
            flex-grow: 1;
            #page{
                width: 30%;
            }
            #cms{
                margin-top: 0%;
                width: 30%;
            }
            #utility{
                margin-top: 0%;
            }
        }
    }
}
@media screen and (max-width:899px){
    #ourteam{
        width: 100vw;
        padding: 1rem;
        display: flex;
        justify-content:space-between;
        h2{
            font-weight: 100;
        }
        div{
            display: none;
            visibility: hidden;
        }
    }
}