*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #444;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
button{
    z-index: 1;
    padding: 10px 20px;
    font-size: x-large;
    background-color: green;
    border-radius: 15px;
}
.divvv{
    height: 80px;
    width: 80px;
    position:absolute;
    border-radius: 50%;
    border: 1px solid;
}