*{
    padding: 0%;
    width: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    height: 50%;
    width: 60%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}
.keys{
    height: 100%;
    width: 6.25%;
    border:1px solid black;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
    font-size: larger;
}

.keys:nth-child(2n-1){
    background-color:white;
}
.keys:nth-child(2n){
    background-color: black;
    height: 90%;
    color:white;
    transform: scale(1);
}
