*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #259;
    position: relative;
}
#main{
    height: 450px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    /* padding: 10px; */
}
#main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#main i{
    color:red;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    opacity: 0;
    transition: transform ease 0.5s;
}