*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(57, 55, 55);
    background-position: center;
   display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    
}

/* @property --bgColor{
    syntax: "<color>";
    initial-value: red ;
    inherits: false;
} */

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderanime {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
    
}

.card{
    height: 500px;
    width: 300px;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0 0 60px red; */
    background:
    linear-gradient(black) padding-box, 
    conic-gradient(from var(--rotate),black,rgb(244, 244, 8),black) border-box;
    border: 0px solid rgba(255,255,255,0);
    margin: 10px;
    animation: borderanime 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    transition: all 0.2s linear;
    
}
.card:hover{
    animation-play-state: running;
    box-shadow: 0 0 60px rgba(245, 238, 35, 0.684);
    border-width: 5px;
    color: yellow;
    text-shadow: 0 0 10px yellow;
    font-size:large;

}
.card img{
    width: 100%;
    height: 80%;
}
