*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 450px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10PX;
    text-align: center;
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card button{
    padding:10px 40px ;
    background-color: rgb(0, 255, 123);
    color: white;
    border-radius: 20px;
    border: none;
}