*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color:black;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
button{
    color: white;
    z-index: 1;
    padding: 10px 20px;
    font-size: x-large;
    background-color:rgb(0, 14, 67);
    border: none;
    border-radius: 15px;
}
button:active{
    transform: scale(0.9);
}
.divvv{
    color: white;
    height: auto;
    width: auto;
    font-size: xx-large;
    position:absolute;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid;
}